---
---

<footer>
  <small>
    🄯 <span id="year"></span> Made with 🧡 by beeburrt.
  </small>
</footer>

<script>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
