---
import { Icon } from "astro-icon";
---

<footer>
  <div>
    <small>
      🄯 <span id="year"></span> Made with 🧡 by beeburrt.
    </small>
    <div></div>
    <small>
      <a href="/rss.xml">
        Subscribe to RSS
        <Icon name="tabler:rss" width="20" height="20" />
      </a>
    </small>
  </div>
</footer>

<script>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
