---
import { Icon } from "astro-icon";
---

<nav aria-label="Primary">
  <div class="navbar">
    <a href="/" araia-label="Go home">
      <Icon name="logomark" width="60" />
    </a>
    <ul></ul>
  </div>
</nav>
